@font-face{
  font-family:"Helvetica Neue LT W05_45 Light";
  src:url("Fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2"),url("Fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff") format("woff");
}
@font-face{
  font-family:"Helvetica Neue LT W05_97 Blk C";
  src:url("Fonts/f2f49a5e-567d-4dfa-8152-c28c8f60c84e.woff2") format("woff2"),url("Fonts/ea7ce364-9de4-43c3-9b0b-7b26af453629.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  
}

h1 {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 40pt;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 20pt;
  margin-top: 0px;
  margin-bottom: 15px;
}

h3 {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 15pt;
  margin-bottom: 15px;
}

.hero-title {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 40pt;
}

.links  {
  text-decoration: none;
}



li {
  list-style: none;
}

.sort-button-div  {
  display: flex;
  flex-direction: row;
  margin: 30px 0 20px 0px;
  border-bottom: 1px dotted #999a9a;
  padding-bottom: 20px;
}

#hero--div  {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}

@media (min-width: 750px) {
#hero--container--1 {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#hero--container--2 {
float: right;
left: 30%;
width: 50%;
height: 100%;
}

#navbar {
  padding: 0px 100px 0px 50px;
}

.right-column {
  margin-right: 50px;
}

}

@media (max-width: 749px) {
  #hero--container--1 {
    /* position: fixed; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  #hero--container--2 {
  /* float: right; */
  left: 30%;
  width: 100%;
  height: 100%;
  }

  #navbar {
    padding: 20px 20px 20px 20px;
  }

  .right-column {
    margin: 20px;
  }

  .article-div{
    margin: 20px;
  }

}

.icon-show-text  {
  margin-left: 5px;
}

.icon-hide-text  {
  display: none;
}


.sort-icon-hide   {
  color: #999a9a;
  font-size: 15pt;
}

.sort-icon-show   {
  color: black;
  font-size: 15pt;
}

.sort-button-deselected {
  display: flex;
  flex-direction: row;
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 12pt;
  background-color: transparent;
  border: none;
  color: #999a9a;
  margin-right: 20px;
  cursor:pointer;
}

.sort-button-selected {
  display: flex;
  flex-direction: row;
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 12pt;
  background-color: transparent;
  border: none;
  color: black;
  margin-right: 20px;
  cursor:pointer;
}

.vote-div  {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.button--downvote {
  text-align: center;
  width: 30px;
  color:white;
  background-color: #cccccc;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor:pointer;
  outline: none;
}

.button--upvote {
  text-align: center;
  width: 30px;
  color:white;
  background-color: black;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor:pointer;
  outline: none;
}

.button--downvote--number {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  text-align: center;
  width: 30px;
  color:white;
  background-color: #cccccc;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.button--upvote--number {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  text-align: center;
  width: 30px;
  color:white;
  background-color: black;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.vote-icon  {
  font-size: 15pt;
}

.topic---button---wrapper {
  display: flex;
  /* float: left; */
}

.navbuttons---topics---selected { 
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  display: block;
  text-decoration: none;
  border-radius: 5px;
  height: 20px;
  width: 75px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}

.navbuttons---topics---faded { 
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  display: block;
  text-decoration: none;
  border-radius: 5px;
  height: 20px;
  width: 75px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  opacity: 0.65;
}

.navbuttons---topics---faded:hover  {
  opacity: 1;
}

#all--articles--button--selected  {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  background-color: black;
  color: white;
  height: 20px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  width: 75px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-top: 15px;
}

#all--articles--button--faded  {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  background-color: black;
  color: white;
  height: 20px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  width: 75px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-top: 15px;
  opacity: 0.65;
}

#all--articles--button--faded:hover  {
  opacity: 1;
}

.article-card-title:hover{
  text-decoration: underline;
}

.article-card{
  margin: 20px 0 2px 0px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #999a9a;
}

.article-card-title {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 20pt;
  text-decoration: none;
  margin-bottom: 5px;
  color: black;
}

.article-card-div {
display: flex;
}

.article-card-div-left {
flex: 1;
}

.article-card-div-right {
display: inline-block;
align-self: flex-end;
}

.article-card-date  {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 10pt;
  text-decoration: none;
  margin-bottom: 10px;
  color: #999a9a;
}

.article-card-username  {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 12pt;
  text-decoration: none;
  margin-bottom: 15px;
  color:black;
}

.article-card-comment  {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 12pt;
  text-decoration: none;
  color:black;
  margin-top: 10px;
}

.article-card-topic {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  text-decoration: none;
  text-align: center;
  color: black;
}


.pagination-div {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 40px 0;
}

.pagination-button  {
  text-align: center;
  width: 30px;
  color:white;
  background-color: #cccccc;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor:pointer;
  outline: none;
}

.pagination-number  {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 12pt;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.article-div{
  margin-right: 25px;
}

.article-div-copy {
  margin: 20px 0 20px 0;
  border-bottom: 1px dotted #999a9a;
  padding-bottom: 20px;
}

.article-topic {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

.article-title  {
  margin: 0 0 10px 0;
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 40pt;
  text-decoration: none;
  color: black;
  line-height: 55px;
}

.article-date {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 12pt;
  text-decoration: none;
  margin-bottom: 20px;
  color: #7e7e7e;
  line-height: 1.3;
}

.article-body {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 15pt;
  text-decoration: none;
  margin-bottom: 20px;
  color: black;
  line-height: 1.3;
}

.article-card-username{
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 12pt;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  line-height: 1.3;
  margin-top: 20px;
}

textarea {
  font-family: 'Helvetica Neue LT W05_45 Light';
  width: 100%;
  height: 150px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 4px;
  background-color: #f8f8f8;
  border: 0.5px solid #ccc;
  resize: none;
  margin-bottom: 10px;
}

textarea:focus{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.comment-button-div  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-comment-button {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #177e89;
  font-size: 17px;
  padding-top: 2px;
  color: white;
  margin-bottom: 0px;
  cursor:pointer;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.add-comment-button:hover {
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.comment-text {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 15pt;
  text-decoration: none;
  padding-top: 3px;
  margin-left: 8px;
  color: black;
  line-height: 1.3;
}

.article-comment-username  {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 12pt;
  text-decoration: none;
  margin-bottom: 15px;
  color:black;
}

.article-comment-body  {
  font-family: 'Helvetica Neue LT W05_45 Light';
  font-size: 12pt;
  text-decoration: none;
  margin-bottom: 15px;
  color:black;
}

.article-comment-delete-button  {
  font-family: 'Helvetica Neue LT W05_97 Blk C';
  font-size: 16px;
  background-color: white;
  color: black;
  height: 30px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: 0.5px solid #ccc;
  margin-top: 15px;
  padding: 0 10px 0 10px;
}

.article-comment-delete-button:hover  {
background-color: black;
color: white;
}